<form class="container" [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="row mb-4">
    <div class="col-sm-3">
      <label for="oldPassword">Текущий пароль</label>
    </div>
    <div class="col-sm-9">
      <p-password styleClass="w-100" inputStyleClass="w-100" [feedback]="false" inputId="oldPassword"
                  formControlName="oldPassword"></p-password>
    </div>
  </div>
  <div class="row  mb-4">
    <div class="col-sm-3">
      <label for="newPassword">Новый пароль</label>
    </div>
    <div class="col-sm-9">
      <p-password styleClass="w-100" inputStyleClass="w-100" inputId="newPassword" formControlName="newPassword"
                  [toggleMask]="true"></p-password>
    </div>
  </div>
  <div class="row  mb-4">
    <div class="col-sm-3">
      <label for="newPasswordConfirmation">Подтвердите пароль</label>
    </div>
    <div class="col-sm-9">
      <p-password styleClass="w-100" inputStyleClass="w-100" inputId="newPasswordConfirmation" [toggleMask]="true"
                  [feedback]="false" formControlName="newPasswordConfirmation"></p-password>
    </div>
  </div>
  <button class="w-100" pButton type="submit" [disabled]="form.disabled || form.invalid" label="Сохранить"></button>
</form>
