<div class="container" style="max-width: 800px">
  <div class="row my-5">
    <div class="col">
      <p-card>
        <div class="row px-5">
          <h1 class="h2 col-sm-8 mb-4">Статья #{{article.id}}</h1>
          <div class="article-card-stats col-sm-4 d-flex gap-4 justify-content-end align-items-center">
            <span title="Просмотры"><i class="pi pi-eye me-2"></i>{{article.finishedBy}}</span>
            <span title="Избранное"><i class="pi pi-star me-2"></i>{{article.favoriteFor}}</span>
            <i *ngIf="article.isVisible; else isNotVisible">
              <i class="pi pi-unlock" title="Опубликовано"></i>
            </i>
            <ng-template #isNotVisible>
              <i class="pi pi-lock" title="Скрыто от пользователей"></i>
            </ng-template>
            <i class="pi pi-info-circle" [pTooltip]="article | createdUpdatedDate" [escape]="false"></i>
          </div>
        </div>
        <form [formGroup]="form" class="mt-4 container">
          <mn-article-form [form]="form" [readonly]="true"></mn-article-form>
        </form>
      </p-card>
    </div>
  </div>
</div>
