.card-content {
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  flex-grow: 1;
}

::ng-deep {
  .p-card-content {
    display: flex;
    height: 300px;
    flex-direction: column;
  }
}
