.card-stats {
  color: #90caf9;

  .pi.pi-unlock {
    color: var(--green-500);
  }

  .pi.pi-lock {
    color: var(--pink-700);
  }
}

.pi.pi-info-circle {
  cursor: pointer;
}

.card-content {
  color: var(--text-color);
}

.card-content {
  background-size: cover;
  background-repeat: no-repeat;
  height: 270px;
}

::ng-deep {
  .p-tooltip {
    min-width: 300px;
  }
}
