:root {
  --font-family: "MINI CYR Sans Serif", Roboto, -apple-system, sans-serif;
}

@font-face {
  font-family: "MINI CYR Sans Serif";
  src: url("./assets/fonts/MINISansSerifCYR-Regular.woff2") format("woff2"),
  url("./assets/fonts/MINISansSerifCYR-Regular.woff") format("woff");
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
  background-color: var(--primary-color);
}

.p-component {
  font-family: var(--font-family);
}

body {
  font-family: var(--font-family);
  background: no-repeat url("assets/img/mini-bg1.webp"), var(--surface-a);
  background-size: cover;
}

.p-datatable.p-datatable-hoverable-rows .p-datatable-tbody > tr:not(.p-highlight):hover {
  background: var(--surface-900);
}

.date-cell {
  font-family: monospace;
}
