:root {
  --font-family: "MINI CYR Sans Serif", Roboto, -apple-system, sans-serif;
}

@font-face {
  font-family: "MINI CYR Sans Serif";
  src: url("./assets/fonts/MINISansSerifCYR-Regular.woff2") format("woff2"),
  url("./assets/fonts/MINISansSerifCYR-Regular.woff") format("woff");
}

.p-component {
  font-family: var(--font-family);
}

body {
  font-family: var(--font-family);
  background: no-repeat url("assets/img/mini-bg1.webp"), var(--surface-a);
  background-size: cover;
}
