::ng-deep {
  .btn-correct {
    background-color: #C5E1A5 !important;

    span.p-button-icon {
      color: var(--surface-b) !important;
    }
  }

  .btn-incorrect {
    background-color: #EF9A9A !important;
  }
}

